.about {
  background-color: #d2d4d6;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 100%;
}

.about__item {
  margin-botton: 38px;
}

.about__title {
  font-weight: bold;
  color: #000000;
}