.blog-os {
  /*margin-top: 32px;*/
  margin-bottom: 24px;

  vertical-align: top;
  text-align: center;

  font-size: 0;
}

.blog-os__link {
  display: inline-block;
  width: 45px;
  height: 58px;
  margin-right: 36px;

  background-color: #ffffff;
}

.blog-os__link:last-child {
  margin-right: 0;
}
