.btn-download {
  display: block;
  width: 294px;
  margin: 0 auto;

  text-align: center;

  font-size: 18px;
  line-height: 52px;
  text-decoration: none;
  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 28px;
}
