.comments {
  background-color: #ffffff;
}

.comments__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.comments__name {
  margin-bottom: 30px;

  text-align: center;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.comments__toggles {
  font-size: 0;
}

@media (min-width: 320px) {
  .comments__item {
  }
  .comments__about {
    display: none;
  }
}

@media (min-width: 660px) {
  .comments__name {
    /*order: 3;*/
  }

  .comments__about {
    display: block;
    /*order: 2;*/
  }

  .comments__text {
    display: block;
    /*order: -1;*/
  }

  .comments__item {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .comments__text {
    order: -1;
  }
}
