.contact__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.contact__text {
  color: #d22856;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  text-align: center;
}

.contact--call {
  width: 210px;
}

.contact--write {
  width: 210px;
}

.contact--go {
  width: 240px;
}

@media (min-width: 320px) {

}

@media (min-width: 660px) {

}

@media (min-width: 1200px) {
  .contact {

  }
}
