.header-nav-list {
  margin: 0;
  padding: 0;
}

.header-nav-list__item {
  display: inline-block;

  vertical-align: top;
}

.header-nav-list__link {
  display: block;

  color: #ffffff;
  text-decoration: none;
}
