.header-nav-list {
  width: 622px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
  font-size: 0;
}

.header-nav-list__item {
  display: inline-block;
  margin-right: 82px;

  vertical-align: top;
}

.header-nav-list__link {
  display: block;

  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.header-nav-list__item:last-child {
  margin-right: 0;
}
