.page-header .container {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  background-size: cover;
}

.page-header {
}

.container {
  padding: 0;
  margin: 0 auto;

  /*border: 4px solid black;*/
}

.page-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;

  background-color: #1e2732;
  opacity: 0.6;
}

.page-header__logo {
  position: relative;
  width: 150px;

  font-size: 40px;
  color: #ffffff;
}

.page-header__nav-toggle {
  width: 50px;

  font-size: 0;

  background: url("../img/icon-menu-burger.svg") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}

.page-header__title {
  margin-bottom: 55px;

  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: 320px) {
  .container {
    width: 320px;

  }

  .header-nav {
    display: none;
  }

  .page-header {
    margin-bottom: 47px;
  }
}

@media (min-width: 660px) {
  .container {
    width: 660px;
  }

  .page-header {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 940px;
  }

  .page-header {
    margin-bottom: 80px;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .header-nav {
    display: block;
  }
}
