.page-footer__title {
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 24px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-footer__link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 320px) {
  .page-footer__title {
    width: 370px;
    margin: 0 auto;
  }

  .page__item {
    display: none;
  }

  .contact {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contact__item {
    width: 310px;
  }

  .contact__item:last-child {
    width: 370px;
    margin: 0 auto;
  }
}

@media (min-width: 320px) {
.page__item {
    display: block;
  }
}
