.page-main__wrapper-title {
    padding: 0 20px;
  }

.page-main__title {
  margin: 0 auto 0 auto;

  text-align: center;

  font-size: 24px;
  line-height: auto;
  font-weight: lighter;
}

@media (min-width: 320px) {
  .page-main__wrapper-title {
    margin-bottom: 34px;
  }

  .page-main__title {
    width: 280px;
    margin-bottom: 40px;
  }

  .page-main__title:first-child {
    margin-bottom: 40px;
  }

  .page-main__title:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 660px) {
  .page-main__title {
    font-size: 40px;
  }
  .page-main__title:first-child {
    width: 100%;
    margin-bottom: 20px;
  }

  .page-main__title:last-child {
    width: 335px;
    margin-bottom: 0;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .page-main__title {
    /*width: 820px;*/
  }
}
