.page-header {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
  background-size: contain;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.page-header__logo {
  position: relative;
  width: 150px;

  font-size: 40px;
  color: #ffffff;
}

.page-header__nav-toggle {
  width: 50px;

  font-size: 0;

  background: url("../img/icon-menu-burger.svg") no-repeat 50% 50%;
  cursor: pointer;
}

.page-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  padding: 20px 0;

  /*background-color: #283645;*/

}

.page-header__title {
  margin-bottom: 55px;

  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: 320px) {
  .container {
    width: 280px;
  }

  .header-nav {
    display: none;
  }

  .page-header__nav {
    padding: 20px 0;
  }
}

@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 940px;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .header-nav {
    display: block;
  }
}
