.tarif-price {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.tarif-price__wrapper {
  overflow: scroll;
}

.tarif-price__table {
  border-collapse: collapse;
}

.tarif-price__option {
  width: 155px;
  height: 46px;

  text-align: center;

  font-size: 14px;
  line-height: 30px;

  border: 1px solid #d2d4d6;
}

.tarif-price__header {
  padding: 15px 0 10px;

  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #283645;
  border: 1px solid #d2d4d6;
}

.tarif-price--noview {
  background-color: #ffffff;
  border: none;
}